<section id="main-sec">
    <div>
        <h1>Feed milo</h1>



    </div>
    <mat-horizontal-stepper #stepper>
        
        <!-- Step 1 -->
        <mat-step [stepControl]="firstFormGroup" >
          <form [formGroup]="firstFormGroup">
            <div class="cont">
            <div>
              <button mat-button matStepperNext> Feed Milo </button>
            </div>
          </div>
          </form>

        </mat-step>
        
        <!-- Step 2 -->
        <mat-step [stepControl]="secondFormGroup" errorMessage=" Image is required ">
          <form [formGroup]="secondFormGroup">
            <div class="cont">
            <h1> Click a picture of your meal . </h1>
            <input type="file" (change)="onFileSelected($event)" formControlName="secondCtrl" #imageUpload  style="display: none;" >

            <!-- container of image and button to upload -->
            <div class="food-img">
              <img [src]="imagePreview" alt=" ">
            </div>
              <button (click)="imageUpload.click()" name="file" id="up_button" >
                <mat-icon>add_a_photo</mat-icon> 
              </button>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>  
            </div>
            
          </form>
        </mat-step>
    
        <!-- Step 3 -->
        <mat-step [stepControl]="thirdFormGroup" >
          <form [formGroup]="secondFormGroup">
            <div class="cont">
              <div class="food-img">
                <img [src]="imagePreview" alt=" ">
              </div>
              <div class="cont">
                <button mat-button matStepperNext>Share with Milo</button>
                <button mat-button matStepperPrevious>Take again</button>
              </div>
            </div>
          </form>
        </mat-step>
    
        <!-- Step 4 -->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="secondFormGroup">
            <div class="cont">

              <div class="food-img">
                <img [src]="imagePreview" alt=" ">
              </div>
                            
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </div>
          </form>
        </mat-step>
    
        <!-- Step 5 -->
        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="secondFormGroup">
            <div class="cont">
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </div>
            </form>
        </mat-step>
    
      
    </mat-horizontal-stepper>


</section>
  